vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|07 Aug 2016 14:14:43 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|base.html
vti_author:SR|JALMD-DPC\\AndyDingo
vti_modifiedby:SR|JALMD-DPC\\AndyDingo
vti_timecreated:TR|26 Jul 2016 13:52:17 -0000
vti_nexttolasttimemodified:TW|07 Aug 2016 14:14:38 -0000
vti_cacheddtm:TX|07 Aug 2016 14:14:33 -0000
vti_filesize:IR|1137
vti_cachedlinkinfo:VX|Q|https://fonts.googleapis.com/css
vti_cachedsvcrellinks:VX|NQSS|https://fonts.googleapis.com/css
